@import url(https://fonts.googleapis.com/css?family=Lora);
p::selection {
    color: rgb(31, 6, 255);
}

body {
    background-image: url("img/waves-2025984_960_720.png");
    display: grid;
    width: 100%;
    grid-template-areas: 'header header header header' 'nav main main .' 'nav main main .' 'footer footer footer footer';
    grid-template-columns: 1fr 2fr;
    grid-auto-rows: minmax(100px, auto);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0vw;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    grid-area: header;
    font-size: 16px;
    font-weight: 300;
    background-color: #42a1e0;
    color: rgb(252, 252, 252);
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    grid-area: footer;
    font-size: 16px;
    font-weight: 300;
    background-color: #42a1e0;
    color: rgb(252, 252, 252);
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.flex-container__item {
    padding: 10px;
}

.flex-container__item:hover {
    transform: scale(1.5);
    padding: 10px;
}

.discribe {
    padding: 2px;
    background-color: rgba(255, 127, 80, 0.7);
}

form {
    padding: 2px;
    background-color: rgba(255, 127, 80, 0.7);
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 75px;
}

.container__form {
    margin-top: 100px;
    align-items: center;
    margin-bottom: 50px;
    text-align: center;
}

input {
    width: 300px;
    height: 20px;
    border: 5px;
    padding: 5px;
    margin: 5px;
    font-size: 14px;
}

.cat {
    position: relative;
}

ul {
    list-style: none;
    margin: 0 auto;
}

a {
    text-decoration: none;
    font-family: 'Lora', serif;
    transition: .5s linear;
}

i {
    margin-right: 10px;
}

nav {
    display: block;
    width: 100%;
    margin: 0 auto 30px;
}

.cat:hover {
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.navigator ul {
    padding: 1em 0;
    background: rgb(56, 56, 253);
}

.navigator a {
    padding: 1em;
    background: rgba(177, 152, 145, .3);
    border-right: 1px solid #42a1e0;
    color: black;
}

.navigator a:hover {
    background: #42a1e0;
}

.navigator li {
    display: inline;
}

.fish {
    background: url("img/Särkänniemi_-_fish.png") no-repeat left center;
}

.container__button {
    width: 200px;
    height: 50px;
    margin: 10px;
    background: #42a1e0;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
}

.container__button a {
    font-size: 14px;
}

@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
        text-align: center;
    }
    body {
        display: grid;
        width: 100%;
        grid-template-areas: "head head"
    }
}

@-webkit-keyframes example {
    0% {
        left: 0px;
        top: 0px;
    }
    25% {
        left: 200px;
        top: 0px;
    }
    50% {
        left: 200px;
        top: 200px;
    }
    75% {
        left: 0px;
        top: 200px;
    }
    100% {
        left: 0px;
        top: 0px;
    }
}

@keyframes example {
    0% {
        left: 0px;
        top: 0px;
    }
    25% {
        left: 200px;
        top: 0px;
    }
    50% {
        left: 200px;
        top: 200px;
    }
    75% {
        left: 0px;
        top: 200px;
    }
    100% {
        left: 0px;
        top: 0px;
    }
}

@keyframes fishSwim {
    0% {
        left: 150%;
        top: 10%;
    }
    25% {
        left: 80%;
        top: 50%;
    }
    50% {
        left: 50%;
        top: 30%;
    }
    75% {
        left: 30%;
        top: 40%;
    }
    100% {
        left: -50%;
        top: 10%;
    }
}

@keyframes fishDie {
    0% {
        left: -50%;
    }
}