* {
  padding: 0;
  margin: 0;
}

h1{
  text-align: center;
}


body{
	background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(66,216,255,1) 0%, rgba(72,32,255,1) 100%, rgba(51,0,255,1) 100%);
}

.container{
  margin: 1%;
  display: flex;
}

.item{
  width: 100px;
  height: 100px;
  margin: 2%;
  color: white;
  background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(255,0,241,1) 0%, rgba(255,209,0,1) 48%, rgba(39,255,0,1) 100%);
  font-size: 30px;
  align-items: center;
  border-radius: 50%;
}

.item p{
  padding: 35px;
}

.justify{
  justify-content:space-around;
}
.justify-between{
  justify-content:space-between;
}
.center{
  justify-content: center;
}

.direction{
  flex-direction: column;
}

.reverse{
  flex-flow: column-reverse;
}

.flex-container {
  display: flex;
  align-items: flex-start;
  height: 160px; /* Высота контейнера */
 }
 .flex-item {
  margin-left: 1rem; /* Расстояние между блоками */
  padding: 10px; /* Поля вокруг текста */
  width: 33.333%; /* Ширина блоков */
 }
 .flex-item:first-child { margin-left: 0; }
 .flex-item:hover { 
   align-self: stretch; /* Растягиваем при наведении */
 }
 .item1 { background: #F0BA7D; }
 .item2 { background: #CAE2AA; }
 .item3 { background: #A6C0C9; }

 .con, .con2, .con3 {
  display: -webkit-flex;  /* для поддержки ранних версий браузеров */
  display: flex;  /* элемент отображается как блочный flex-контейнер */
  }
  .con > div {
  width: 50px; /* устанавливаем ширину блока */
  height: 50px;  /* устанавливаем высоту блока */
  border: 1px solid orange;  /* устанавливаем сплошную границу 1px оранжевого цвета */
  } 
  .con2 > div {
    width: 50px; /* устанавливаем ширину блока */
    height: 50px;  /* устанавливаем высоту блока */
    border: 1px solid orange;  /* устанавливаем сплошную границу 1px оранжевого цвета */
  } 
  .con3 > div {
    width: 50px; /* устанавливаем ширину блока */
    height: 50px;  /* устанавливаем высоту блока */
    border: 1px solid orange;  /* устанавливаем сплошную границу 1px оранжевого цвета */
  } 

  .con div:nth-of-type(4) { /* выбираем четвертый <div> в первом контейнере */ 
  order: -1;  /* определяем порядок следования флекс элемента */
  }

  .con2 div:nth-of-type(4) { /* выбираем четвертый <div> во втором контейнере */ 
  order: 1;  /* определяем порядок следования флекс элемента  */
  }

  .con3 div:nth-of-type(4) { /* выбираем четвертый <div> в третьем контейнере */ 
  order: 2;  /* определяем порядок следования флекс элемента */
  }


  #content {
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
  
    -webkit-justify-content: space-around;
    justify-content: space-around;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-align-items: stretch;
    align-items: stretch;
  }
  
  .box {
    flex-grow: 1;
    border: 3px solid rgba(0,0,0,.2);
  }
  
  .box1 {
    flex-grow: 2;
    border: 3px solid rgba(0,0,0,.2);
  }